{% comment %}
  Include vars:
  page_items
{% endcomment %}

<!-- Nav -->
<nav class="menu_toggle">
  <ul>
    {%- assign _pages = include.page_items | where_exp: "page", "page.hide != true" -%}
    {%- unless _pages == null -%}
      {%- for _sect in _pages -%}
        {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
        {%- assign _slug = _title | slugify -%}
        {%- assign _icon = _sect.icon | default: 'fa-file' -%}
        {%- if _sect.icon-style == 'regular' -%}
          {%- assign _class = 'icon-r' -%}
        {%- elsif _sect.icon-style == 'brands' -%}
          {%- assign _class = 'icon-b' -%}
        {%- else -%}
          {%- assign _class = 'icon' -%}
        {%- endif -%}
        <li><a href="#{{- _slug -}}" id="{{- _slug -}}-link" class="scrolly"><span class="{{ _class }} {{ _icon }}">{{- _title -}}</span></a></li>
      {%- endfor -%}
    {%- endunless -%}
  </ul>
</nav>
